table {
	border-collapse: collapse;
}
table, th, td {
    border: 1px solid #000;
}


div[data-tab]:not([data-tab-open]) {
	display: none;
}

div.image {
	width: inherit;
	height: inherit;
}

.page {
	width: 100%;
}