#content {

	&& > * {
		padding: 2rem 2rem;
	}

	a {
		text-decoration: none;
		font-weight:inherit;
		font-size:inherit;
		cursor: pointer;
		color: darkslateblue;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
	}

	a[data-open='false']:hover,
	a[data-open='false']:active {
		text-decoration: underline;
	}

	a[data-open='true'] {
		cursor: default;
		color: black;
		text-decoration: underline;
	}

	[data-type='page'][data-open='false'] {
		display: none;
	}



	table {
		border-collapse: collapse;
		background: white;
		margin: 0.5rem 0;
		color:black;
		text-align: center;
	}
	table, th, td {
		border: 1px solid #000;
	}
	table:has(thead > tr:first-child > th:first-child:empty) td:first-child,
	th {
		background: rgba(0,0,0,0.1);
		font-weight: bold;
	}


	th, td {
		padding: 0.25rem 0.5rem;
	}

	th, td {
		&& > img {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}


	div[data-tab]:not([data-tab-open]) {
		display: none;
	}

	[data-type='image'] {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	

	[data-type='image'] img {
		width: 100%;
		height: 100%;
		object-fit: scale-down;
		max-width: 500px;
		max-height: 500px;
	}

	[data-type='tabs'] > .labelWrap {
		display: flex;
	}
	[data-type='tabs'] .labelWrap label {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1rem;
		width: 100%;
		text-align: center;
		border: 1px solid rgba(0,0,0,0.5);
		cursor: pointer;
		user-select: none;
		background:hsl(0,0%,80%);
		font-weight: bold;
		color: black;
	}
	[data-type='tabs'] .labelWrap label:has(input:checked):not(:active) {
		background:hsl(0,0%,60%);
	}
	[data-type='tabs'] .labelWrap label:active {
		background:hsl(0,0%,50%);
	}


	[data-type='tabs'] .labelWrap label:not(:last-child) {
		border-right: none;
	}



	[data-type='tabs'] > .labelWrap input {
		display: none;
	}

	[data-type='image'].caption {
		text-align: center;
		padding: 0.5rem;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
	}


	[data-type='navigator'] {
		background: bisque;
		border-radius: 1rem;
		width: fit-content;
		font-weight: bold;
		margin: 2rem;
		border: 2px solid rgba(0, 0, 0, 0.2);
	}

	[data-type='navigator'] > ul {
		list-style-position: inside;
		color: black;
	}
	[data-type='navigator'] li > ul {
		padding-left: 2rem;
	}

	[data-type='image'],
	[data-type='text'],
	[data-type='section'],
	[data-type='header'],
	[data-type='sub-header'] {
		padding: 0.5rem 0 0;
		box-sizing: border-box;
	}

	[data-type='section'] {
		width: auto;
	}
	[data-type='image'],
	[data-type='text'],
	[data-type='header'],
	[data-type='sub-header'] {
		width: fit-content;
	}

	[data-type='text'] {
		display: inline-block;
	}

	li:not(:has(> a[data-open='true'])) > ul {
		display: none;
	}


	[data-type='page-nav'] {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 2rem 0 0;
		color: black;
	}
	[data-type='page-nav'] > span.previous {
		margin-right: auto;
		padding-left: 0.5rem;
	}
	[data-type='page-nav'] > span.next {
		margin-left: auto;
		padding-right: 0.5rem;
	}
	[data-type='page-nav'] > span {
		background: aliceblue;
		border-radius: 10px;
		font-weight: bold;
		border: 2px solid rgba(0, 0, 0, 0.2);
	}
	[data-type='page-nav'] > span a {
		display: inline-block;
		padding: 1rem;
	}

	[data-type='panel'] {
		background: floralwhite;
		padding: 1rem 1.5rem;
		border-radius: 0.5rem;
		margin: 1rem 0;
		border: 2px solid rgba(0, 0, 0, 0.2);
		width: fit-content;
		color: black;
		overflow: auto;
	}


	[data-type='panel']:has(*[data-type='panel']) [data-type='panel'] {
		background: initial;
		border: none;
		margin:0;
		border-radius:0;
		box-sizing: border-box;
		height: -webkit-fill-available;
		align-content: center;
	}

	[data-type='tabs'] {
		width: fit-content;
		padding: 1rem 0;
	}

}