#content {

&& > * {
	padding: 2rem 2rem;
}

a {
	text-decoration: none;
	font-weight:inherit;
	font-size:inherit;
	cursor: pointer;
	color: darkslateblue;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
}

a:not([data-page-open]):hover,
a:not([data-page-open]):active {
	text-decoration: underline;
}

a[data-page-open] {
	cursor: default;
	color: black;
	text-decoration: underline;
}

.page:not([data-page-open]) {
	display: none;
}



table {
	border-collapse: collapse;
	background: white;
}
table, th, td {
    border: 1px solid #000;
}
th, td {
	padding: 0.25rem 0.5rem;
}


div[data-tab]:not([data-tab-open]) {
	display: none;
}

.image {
	display: flex;
	flex-direction: column;
}

.image img {
	width: 100%;
	height: 100%;
}

.tabs > .labelWrap {
	display: flex;
}
.tabs .labelWrap label {
	padding: 0.5rem 1rem;
	width: 100%;
	display:block;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.5);
	cursor: pointer;
	user-select: none;
	background:hsl(0,0%,80%);
}
.tabs .labelWrap label:has(input:checked):not(:active) {
	background:hsl(0,0%,60%);
}
.tabs .labelWrap label:active {
	background:hsl(0,0%,50%);
}


.tabs .labelWrap label:not(:last-child) {
	border-right: none;
}



.tabs > .labelWrap input {
	display: none;
}

.image .caption {
	text-align: center;
	padding: 0.5rem;
}


.navigator {
	background: bisque;
    border-radius: 1rem;
    width: fit-content;
	font-weight: bold;
	margin: 2rem;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.navigator > ul {
	list-style-position: inside;
}
.navigator li > ul {
	padding-left: 2rem;
}

.image,
.text,
.section,
.header
.sub-header {
	padding: 0.5rem 0 0;
}




}