* {
	margin: 0;
	padding: 0;
}

:root {
	--background: #232946;
    --primary: #667eea;
    --secondary: #764ba2;
	--cancel: #e76f51;
	--confirm: #2a9d8f;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	background: #f7f7fa;
	color: #222;
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

header {
	background: var(--background);
	color: #fff;
	padding: 1.5rem 2rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
	display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 1px;
}
header .loadWrapper {
	display: flex;
    flex-direction: column;
}

#content {
	flex: 1;
	width: 100%;
	padding: 2.5rem 2rem;
}

footer {
	position: relative;
    margin: 1rem auto;
    width: fit-content;
    background: hsl(0,0%,90%);
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 0.85rem;
    z-index: 10;
	font-weight: bold;
	color:hsl(0,0%,50%);
}

.btn {
	display: inline-block;
	margin: 0.5rem;
	padding: 0.75rem 1.25rem;
	border: none;
	border-radius: 0.4rem;
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s ease;
}

.btn-primary {
	background: var(--primary);
}
.btn-secondary {
	background: var(--secondary);
}
.btn-cancel {
	background: var(--cancel);
}
.btn-confirm {
	background: var(--confirm);
}

.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
	filter:brightness(0.8);
}

