* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--header: floralwhite;
	--background: #f7f7fa;
    --primary: #667eea;
    --secondary: #764ba2;
	--cancel: #e76f51;
	--confirm: #2a9d8f;


}
body[data-editor='true'] {
	--color1: rgba(255,255,255,0.05);
	--color2: darkslategray;

	color:white;

	background-color: var(--color2);
	background-image:  linear-gradient(var(--color1) 0.8px, transparent 0.8px), linear-gradient(90deg, var(--color1) 0.8px, transparent 0.8px), linear-gradient(var(--color1) 0.4px, transparent 0.4px), linear-gradient(90deg, var(--color1) 0.4px, rgba(230, 230, 247, 0) 0.4px);
	background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
	background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;

}

textarea,
input,
select {
	outline: none;
}

input[type='checkbox'],
input[type='radio'] {
	cursor: pointer;
}

label {
	cursor: inherit;
}

body {
	height: 100vh;
	font-family: 'Roboto', Arial, sans-serif;
	color: #222;


	--color1: rgba(0,0,0,0.05);
	--color2: ghostwhite;

	background-color: var(--color2);
	background: repeating-linear-gradient( 45deg, var(--color1), var(--color1) 2px, var(--color2) 2px, var(--color2) 10px );
}

header {
	position: relative;
    width: 100%;
    top: 0;
    height: max(100px, 10%);
    color: black;
    background: var(--header);
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.9);
    z-index: 10000;
}
header .header span:first-child {
	color: cornflowerblue;
}
header .header span:last-child {
	color: gold
}
header .header {
	width: calc(60% - 8rem);
	font-size: 3rem;
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Roboto';
    font-weight: bold;
   	--stroke: 2px;
    --stroke-color: rgba(0,0,0,0.5);

    text-shadow:
        0 var(--stroke) 0 var(--stroke-color),
        0 calc(var(--stroke) * -1) 0 var(--stroke-color),
        var(--stroke) 0 0 var(--stroke-color),
        calc(var(--stroke) * -1) 0 0 var(--stroke-color),
        var(--stroke) var(--stroke) 0 var(--stroke-color),
        calc(var(--stroke) * -1) var(--stroke) 0 var(--stroke-color),
        var(--stroke) calc(var(--stroke) * -1) 0 var(--stroke-color),
        calc(var(--stroke) * -1) calc(var(--stroke) * -1) 0 var(--stroke-color);

}
header .header a {
    text-transform: uppercase;
    text-decoration: none;
}

header h1 {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 1px;
}
header > div {
	width: 20%;
	display:flex;
	justify-content: center;
}
header > div:last-child {
	justify-content: flex-end;
}
header > div:first-child {
	justify-content: flex-start;
}

header .editWrapper {
	text-align: right;

}
header > .metadataWrapper {
	text-align: left;
}
header .editWrapper,
header > .metadataWrapper {
	display:flex;
	flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	gap: 1rem;
}



#browse .loadWrapper button input {
	display: none;
}

#browse .loadWrapper button label {
	padding: 0.5rem 1rem;
	border: 2px solid rgba(0,0,0,0.1);
}
#browse .loadWrapper button:has(label) {
	padding: 0;
	border: 0;
}


header .guide-info {
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	cursor: default;
	text-align: center;
}

header .guide-info .title {
	text-align: center;
	font-size: 1.2rem;
}
header .guide-info > div:not(.title) {
	font-size: 0.8rem;
}
header .guide-info div > span:first-child {
	font-weight: bold;
}




body[data-editor='false'] header .guide-info {
	.title input,
	.author input,
	.version input {
		display: none;
	}
}

body[data-editor='true'] header .guide-info {
	.title span:last-child,
	.author span:last-child,
	.version span:last-child {
		display: none;
	}
}


header .guide-info .created input,
header .guide-info .modified input {
	display: none;
}

header .guide-info input {
	color: inherit;
}


header .guide-info .title * {
	font-size: 1.2rem;
	text-align: center;
	font-weight: bold;
}

#browse,
#content {
	width: 100%;
    height: calc(100% - max(100px, 10%));
    padding: 1rem 0;
    overflow: auto;
	transition: width 0.2s ease;
	position: relative;
}
body[data-sidebar='true'][data-editor='true'] {
	#browse,
	#content {
		width: calc(100% - min(320px, 85vw));
	}
}

#browse {
	gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#browse .loadWrapper {
	display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
	gap: 1rem;
}

body:not([data-loaded]) #content,
body[data-loaded='false'] #content,
body[data-loaded='true'] #browse {
	display: none;
}

body:not([data-loaded]),
body[data-loaded='false'] {
	header .btn.download,
	header .btn.editor,
	header .btn.exit {
		display: none;
	}
}

header .btn img {
	max-height: 25px;
	pointer-events: none;
}

.btn {
	display: flex;
	justify-content: center;
    align-items: center;
	padding: 0.5rem 1rem;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s ease;
	width: fit-content;
	height: fit-content;
}

.btn-primary {
	background: var(--primary);
}
.btn-secondary {
	background: var(--secondary);
}
.btn-cancel {
	background: var(--cancel);
}
.btn-confirm {
	background: var(--confirm);
}

.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
	filter:brightness(0.8);
}


.hash-highlight { animation: flash 2s ease; }
@keyframes flash { 
    0% { background: rgba(255, 215, 0, 0.5); }
    100% { background: transparent; }
}

#browse {

	.panels {
		display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
	}


	.panel {
		background: azure;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.5rem;
		padding: 1rem;
		border: 2px solid rgba(0,0,0,0.2);
		position: relative;
	}

	.panel > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
	}
	.panel .buttons {
		gap: 1rem;
		align-items: flex-end;
	}
	.panel .buttons .btn {
		padding: 0;
		aspect-ratio: 1/1;
		height: auto;
        width: 40px;
	}
	.panel .buttons .btn.download,
	.panel .buttons .btn.delete {
		height: auto;
        width: 25px;

	}

	.panel > div > *:first-child {
		text-align: center;
	}
	.panel .metadata > span {
		font-size: 0.8rem;
	}
}


.spoiler[data-spoiler='true'] {
	position: relative;
	cursor: pointer;
	display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
	margin: 0 0.25rem;
}

.spoiler[data-spoiler='true']::before {
	filter: blur(0.25em);
	content: attr(data-text);
	position:absolute;
	font-size: initial;
}

.spoiler[data-spoiler='true']::after {
	content: "SPOILER";
    filter: none !important;
    z-index: 1000;
    position: absolute;
	font-weight:bold;
	color: inherit;
	font-size: 0.9rem;
	text-shadow: 1px 1px 0px #000;
}

.spoiler[data-spoiler='true'] > .spoiler-content {
	visibility: hidden;
}



#console {
	position: fixed;
	z-index: 1000000;
	cursor: default;
	display: flex;
	flex-direction: column;
	pointer-events: none;
	max-width: 50vw;
	max-height: 95vh;
}

#console span {
	padding: 5px 20px;
    background: rgba(0, 0, 0, 0.5);
    transition: 1s ease opacity 0.1s;
	border: 1px solid rgba(255,255,255,0.2)
}

#console.top-right {
	top: 25px;
	right: 25px;
}

#console.top-left {
	top: 25px;
	left: 25px;
}

#console.bottom-right {
	bottom: 25px;
	right: 25px;
}

#console.bottom-left {
	bottom: 25px;
	left: 25px;
}