* {
	margin: 0;
	padding: 0;
}

:root {
	--header: floralwhite;
	--background: #f7f7fa;
    --primary: #667eea;
    --secondary: #764ba2;
	--cancel: #e76f51;
	--confirm: #2a9d8f;


}
body[data-editor='true'] {
	--color1: rgba(255,255,255,0.05);
	--color2: darkslategray;

	color:white;

	background-color: var(--color2);
	background-image:  linear-gradient(var(--color1) 0.8px, transparent 0.8px), linear-gradient(90deg, var(--color1) 0.8px, transparent 0.8px), linear-gradient(var(--color1) 0.4px, transparent 0.4px), linear-gradient(90deg, var(--color1) 0.4px, rgba(230, 230, 247, 0) 0.4px);
	background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
	background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;

}

textarea,
input,
select {
	outline: none;
}

input[type='checkbox'],
input[type='radio'] {
	cursor: pointer;
}


body {
	height: 100vh;
	font-family: 'Roboto', Arial, sans-serif;
	color: #222;


	--color1: rgba(0,0,0,0.05);
	--color2: ghostwhite;

	background-color: var(--color2);
	background: repeating-linear-gradient( 45deg, var(--color1), var(--color1) 2px, var(--color2) 2px, var(--color2) 10px );
}

header {
	position:fixed;
	width: 100%;
	top:0;
	height: 50px;
	color: black;
	background: var(--header);
	padding: 1.5rem 2rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
	display: flex;
    align-items: center;
	align-content: center;
    justify-content: space-between;
	flex-wrap: wrap;
	box-shadow: 0px 3px 1px rgba(0,0,0,0.9);
	z-index: 10000;
	overflow: hidden;
}
header .header span:first-child {
	color: cornflowerblue;
}
header .header span:last-child {
	color: gold
}
header .header {
	width: calc(60% - 8rem);
	font-size: 3rem;
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Roboto';
    font-weight: bold;
   	--stroke: 2px;
    --stroke-color: rgba(0,0,0,0.5);

    text-shadow:
        0 var(--stroke) 0 var(--stroke-color),
        0 calc(var(--stroke) * -1) 0 var(--stroke-color),
        var(--stroke) 0 0 var(--stroke-color),
        calc(var(--stroke) * -1) 0 0 var(--stroke-color),
        var(--stroke) var(--stroke) 0 var(--stroke-color),
        calc(var(--stroke) * -1) var(--stroke) 0 var(--stroke-color),
        var(--stroke) calc(var(--stroke) * -1) 0 var(--stroke-color),
        calc(var(--stroke) * -1) calc(var(--stroke) * -1) 0 var(--stroke-color);

}
header .header a {
    text-transform: uppercase;
    text-decoration: none;
}

header h1 {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 1px;
}
header > div {
	width: 20%;
	display:flex;
	justify-content: center;
}
header > div:last-child {
	justify-content: flex-end;
}
header > div:first-child {
	justify-content: flex-start;
}

header .editWrapper {
	text-align: right;
	margin-right: 4rem;
	display:flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}
header > .loadWrapper {
	text-align:left;
	margin-left: 4rem;
}



header .guide-info {
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	cursor: default;
	text-align: center;
}
header .guide-info:not(:empty) ~ .btn {
	display: none;
}
header .guide-info .title {
	text-align: center;
	font-size: 1.2rem;
}
header .guide-info > div:not(.title) {
	font-size: 0.8rem;
}
header .guide-info div > span:first-child {
	font-weight: bold;
}




body[data-editor='false'] header .guide-info {
	.title input,
	.author input,
	.version input {
		display: none;
	}
}

body[data-editor='true'] header .guide-info {
	.title span:last-child,
	.author span:last-child,
	.version span:last-child {
		display: none;
	}
}


header .guide-info .created input,
header .guide-info .modified input {
	display: none;
}

header .guide-info input {
	color: inherit;
}


header .guide-info .title * {
	font-size: 1.2rem;
	text-align: center;
	font-weight: bold;
}

#content {
	margin-top: calc(50px + 3rem);
    width: 100%;
    height: calc(100% - 8rem);
    padding: 1rem 0;
}


.btn {
	display: inline-block;
	padding: 0.75rem 1.25rem;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 0.4rem;
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s ease;
	width: fit-content;
	height: fit-content;
}

.btn-primary {
	background: var(--primary);
}
.btn-secondary {
	background: var(--secondary);
}
.btn-cancel {
	background: var(--cancel);
}
.btn-confirm {
	background: var(--confirm);
}

.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
	filter:brightness(0.8);
}


.hash-highlight { animation: flash 2s ease; }
@keyframes flash { 
    0% { background: rgba(255, 215, 0, 0.5); }
    100% { background: transparent; }
}

